:root {
  overflow-x: hidden;
  font-family: Public Sans, Public Sans Placeholder, sans-serif;
}
.nav-container {
  display: flex;
  justify-content: center;
}

.navbar {
  background-color: aquamarine;
  border-radius: 10px;
  width: fit-content;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.highlighted-nav {
  padding: 4px 8px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.highlighted-nav:hover {
  transform: translateY(-10%);
}

.highlighted-nav:focus {
  background-color: orange;
  margin: 1px 1px;
  transform: translateY(0%);
}

.flex-layout {
  display: flex;
}

.left,
.right {
  display: flex;
  flex-direction: column;
}

.left-img,
.right-img {
  height: 280px;
  width: 280px;
}

.profile-img-container,
.profile-img-back {
  background-color: rgb(102, 112, 255);
  height: 280px;
  overflow: hidden;
  border-radius: 40px;
  transition: transform 0.5s ease-in-out;
  width: 280px;
}

.profile-img-container {
  backface-visibility: hidden;
}

.profile-img-back {
  text-align: center;
  transform: rotateY(180deg);
  position: absolute;
  top: 308px;
  z-index: -1;
}

/* .profile-img-back:hover {
} */

.profile-container:hover .profile-img-container {
  transform: rotateY(180deg);
}

.profile-container:hover .profile-img-back {
  transform: rotateY(0deg);
}

.sliding-text-container {
  max-width: 100vw;
}

.bg-text {
  position: absolute;
  font-size: 240px;
  font-weight: 900;
  z-index: -1;
  top: 350px;
  overflow: hidden;
}

.sliding-text {
  display: flex;
  overflow: hidden;
  animation: slide 20s linear infinite;
}

.sliding-text span {
  white-space: nowrap;
}

@keyframes slide {
  0% {
      transform: translateX(0);
  }

  100% {
      transform: translateX(-50%);
      /* Adjust based on the number of duplicates */
  }
}

.title-text {
  font-size: 48px;
  font-weight: 500;
}

.profile-img {
  height: 420px;
  width: 280px;
}

.flex-layout {
  display: flex;
  justify-content: center;
}

.background-text {
  text-align: center;
  width: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-img,
.left-img {
  animation: bouncingAnimation 3s linear infinite;
}

@keyframes bouncingAnimation {
  0% {
      transform: translateY(0px);
  }

  25% {
      transform: translateY(10px);
  }

  50% {
      transform: translateY(0px);
  }

  75% {
      transform: translateY(-10px);
  }

  100% {
      transform: translateY(0px);
  }
}

.flip-text {
  position: relative;
  overflow: hidden;
  height: 50px;
  width: 300px;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.skills span {
  position: absolute;
  height: 100%;
  opacity: 0;
  perspective: 300px;
  animation: flipAnimation 9s linear infinite;
}

@keyframes flipAnimation {
  0% {
      /* keep hidden initially */
      transform: translateY(20px);
      opacity: 0;
  }
  5% {
      /* make visible */
      transform: translateY(0px);
      opacity: 1;
  }
  30% {
      /* keep visible */
      transform: translateY(0px);
      opacity: 1;
  }
  35% {
      /* invisible */
      transform: translateY(-20px);
      opacity: 0;
  }
  100% {
      transform: translateY(20px);
      opacity: 0;
  }
}

.skills span:nth-child(1) {
  animation-delay: 0s;
}

.skills span:nth-child(2) {
  animation-delay: 3s;
}

.skills span:nth-child(3) {
  animation-delay: 6s;
}
.cta-container {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}
.cta-text {
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 50px;
  border: 5px solid #EFF0FF;
  /* padding: 20px; */
  font-weight: 700;
  font-size: 24px;
}
.cta-text span {
  display: inline-block;
  margin: 5px 20px;
}
.cta-arrow-image {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: black;
  opacity: 0;
  transform: rotate(90deg) translateX(0px);
  transition: all 0.8s ease-in-out;
  position: relative;
  right: -75px;
}
.cta-container:hover {
  transform: scaleX(1.05);
  padding: 0px 10px;
}
.cta-text:hover span {
  transform: translateX(-20px);
}
.cta-text:hover .cta-arrow-image  {
  opacity: 1;
  transform: translateX(-75px) rotate(0deg);
}
.about-me-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  height: 1200px;
  position: relative;
  padding: 24px;
  margin: 36px;
}
.img-left, .img-right {
  height: 400px;
  width: 400px;
}

.first-card {
  margin-bottom: 20px;
  position: sticky;
  top: 200px;
}
.about-me-bg {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 60px;
  right: -50px;
  z-index: -1;
  animation: bouncingAnimation 3s linear infinite;;
}
.about-me-bg:hover {
  transform: scale(1.2);
}
.section-title {
  font-size: 38px;
  padding: 24px;
  font-weight: 500;
}

.cards-outlay {
  background-color: rgba(102, 112, 255, 0.05);
  backdrop-filter: blur(5px);
  border-radius: 48px;
  opacity: 1;
  position: sticky;
  top: 280px;
  padding: 24px;
  width: max-content;
}

.cards-outlay > .cards {
  background-color: white;
  padding: 24px;
  opacity: 1;
  border-radius: 24px;
  height: 150px;
  width: 600px;
  font-size: 24px;
  font-weight: 400;
}
.footer {
  height: 1600px;
  width: 100%;
  background-color: pink;
}
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}
.project-title-container {
  padding: 40px;
  margin: 20px 0px;
}
.project-section-title {
  font-size: 38px;
  padding: 24px;
  font-weight: 500;
}
.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.project-img-container {
  height: 440px;
  width: 540px;
  border-radius: 48px;
  overflow: hidden;
  padding: 24px;
  background-color: rgba(102, 112, 255, 0.05);
  backdrop-filter: blur(5px);
}
.project-img {
  transition: all 0.4s ease-in-out;
  border-radius: 48px;
  height: inherit;
  width: inherit;
  position: relative;
  z-index: -1;
}

.project-img-container:hover .project-img {
  opacity: 0.6;
  transform: scaleY(1.05);
  z-index: 1;
}
.project-title-text {
  font-size: 32px;
  padding: 10px 20px;
}
.project-sub-title {
  font-size: 12px;
  padding: 10px 0px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
}
.footer-info {
  display: flex;
  justify-content: space-evenly;
}
.contact-me, .useful-links, .social {
  display: flex;
  flex-direction: column;
}
.foot-title {
  font-size: 200px;
  font-weight: 900;
  overflow: hidden;
}

